@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}

.allura-logo {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}
.hero-bg {
  background-image: url("/girl.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

